* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    border-radius: 10px;
}

nav h1 {
    font-size: 30px;
    text-decoration: underline rebeccapurple;
}

ul {
    display: flex;

}

ul li {
    list-style: none;
    margin-left: 60px;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
}

button {
    padding: 7px;
    width: 170px;
    border-radius: 4px;
    border: none;
    background-color: rgb(120, 120, 248);
}

li a:hover {
    color: red;
    text-decoration: underline burlywood;
}

.btn:hover {
    background-color: wheat;
}

.work {
    max-width: 500px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    right: 70px;
    bottom: 25%;
    border-radius: 20px;

}

.stage {
    max-width: 600px;
    height: 300px;
    margin: 120px 50px;

}

.item {
    margin: 20px;
    padding: 10px;
}

.item1 {
    font-size: 25px;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3)
}

.xizmatlar {

    text-align: center;
}

.xizmatlar__item {
    margin: 0 auto;
    margin: 15px;
    font-size: 20px;
}

.xizmatlar h1 {
    font-size: 35px;
}

.box {
    max-width: 350px;
    height: 500px;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 80px 40px;
    border-radius: 20px;
}

.box_img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin-right: 100px;
    padding: 20px;
    border-radius: 10px;
}

.box_item {
    margin: 5px 60px;
    padding: 5px;
}

.head_web {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.wrapp {
    display: flex;
    margin: 0 auto;
    padding: 50px;

}

.wrapp .box {
    margin: 80px;
}

.dastafka {
    margin: 0 auto;
}

.dastafka_item {
    margin: 30px;
    font-size: 20px;
    width: 2 00px;
}

.end_item {
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.end h1 {
    font-size: 30px;
}

.end p {
    color: forestgreen;
}

.wrap {
    height: 600px;
    max-width: 100%;

}

.start_img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    position: absolute;
    left: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-top: -500px;
}

.start {
    width: 400px;
    height: 200px;
    position: absolute;
    right: 0;
    margin-top: 90px;
    padding: 40px;
}

.start_item {
    margin: 20px;

}

.start p {
    color: brown;
    font-weight: bold;
}

.card_img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: absolute;
    right: 100px;
    margin-top: -290px;
}

.card h1 {
    margin: 100px 100px;
    color: red;
}

.boxx_img {
    width: 400px;
    height: 400px;
    margin: 0 50px;
    object-fit: cover;
    object-position: center;
}

.boxx {
    max-width: 500px;
    height: 100px;
    position: absolute;
    right: 70px;
    margin-top: 190px;
}

.boxx p {
    color: brown;
    margin: 10px;
}

.cardd_img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    right: 100px;
    overflow: hidden;
    border-radius: 40px;
}

.perfect {
    width: 500px;
    height: 100px;
    margin: 100px;
}

.perfect p {
    color: brown;
    margin: 10px;
}

.suport {
    max-width: 500px;
    height: 100px;
    position: absolute;
    right: 70px;
    margin-top: 190px;

}

.suport p {
    color: brown;
    margin: 10px;
}

.suport_img {
    width: 400px;
    height: 400px;
    margin: 0 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
}

.book button {
    margin: 50px 700px;
    padding: 10px;
}

button:hover {
    background-color: aqua;
    color: red;
}

.adress {
    background-color: darkcyan;
}

.adres_item {
    text-align: center;
    margin: 20px;
    color: white;
}

.input {
    width: 500px;
    height: 400px;
    background-color: white;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.input input {
    width: 400px;
    height: 40px;
    margin: 30px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
}

.select {
    width: 400px;
    height: 40px;
    margin: 30px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
}

.select option {
    font-size: 20px;
}

.input button {
    position: absolute;
    right: 45%;
    padding: 10px;
}

.black {

    background-color: black;
}